@model JPS.Models.Bill_Information

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Bill_Information</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.date_generated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.date_generated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.due_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.due_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cust_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cust_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.premise_id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.premise_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.amount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.bill_id" class="fas fa-edit" style="color:orange; font-size:17px; text-decoration:none"></a>|
    <a asp-action="Index">Back to List</a>
</div>
